:root {
  --accent-color: #2196f3;
  --text-color-p: #757575; /*text color */
  --text-color-h: #212121; /*header color */
  --text-color-logo: #000000;
  --text-color-logo-footer: #ffffff;
  --bg-color-main: #ffffff; /*background-color section  */
  --bg-color-card: #ffffff;
  --bg-color-header: #ffffff;
  --hero-title-color: #ffffff;
  --btn-text-color: #ffffff;

  --bg-color-hero: #2f303a; /*background-color section-hero  */
  --bg-color-footer: #2f303a;
  /* --line-color: #ececec;    line-color header(top)*/
  --bg-section-team: #f5f4fa; /*background-color section-team */
  --link-color-address: rgba(255, 255, 255, 0.6);
  --p-color-address: #ffffff;
  --bg-hover-button: #188ce8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text-color-p);
  background-color: var(--bg-color-main);
}
.container {
  outline: 1px solid tomato;
  width: 1200px; /* 1170+ 15+15*/
  margin-left: auto;
  margin-right: auto;
}

.list,
.nav-list,
.nav-address,
.feature-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}
/* header */
.header {
  background-color: var(--bg-color-header);
}
/* site nav */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* 31px/26px =1.19 */
  color: var(--text-color-logo);
  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo .accent {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.nav-address .link:hover,
.nav-address .link:focus,
.address-item .link:hover,
.address-item .link:focus {
  color: var(--accent-color);
}

.nav-list .link {
  font-weight: 500;
  /* font-size: 14px; */
  /* line-height: 1.17; 16.41px/14px =1.17 */
  letter-spacing: 0.02em;
  color: var(--text-color-h);
}
.nav-address .link {
  font-weight: 500;
  /* font-size: 14px; */
  /* line-height: 1.17;  */
  /* 16.41px/14px =1.17 */
  letter-spacing: 0.02em;
  color: var(--text-color-p);
}
/* section Hero */
.hero {
  background-color: var(--bg-color-hero);
  text-align: center;
}
.hero-title {
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; /* 60px/44px =1.36 */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% = 30px/16px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent; /* прозрачная рамка*/
  border-radius: 4px;
  border: none;

  cursor: pointer;
}
.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--bg-hover-button);
}
/* section Features */
.section {
  background-color: var(--bg-color-main);
}
.hidden {
  visibility: hidden;
}
.feature-item .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /* 16px/14px=1.14 */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-h);
}
.feature-item .text {
  font-weight: 400;
  /* font-size: 14px;*/
  line-height: 1.71;
  /* or 171% = 24px/14px*/
  letter-spacing: 0.03em;
  /* color: var(--text-color-p); */
}
/* section Projects */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17; /* or 117% = 42px/36px*/
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-h);
}
/* section Team */
.section-team {
  background-color: var(--bg-section-team);
}
.team-card {
  background-color: var(--bg-color-card);
}
.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; /*19px/16px= 1.19*/
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-h);
}
.team-card .text {
  font-size: 16px;
  line-height: 1.19; /*19px/16px= 1.19*/
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
/* Footer */
footer {
  background-color: var(--bg-color-footer);
}
footer .logo {
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-logo-footer);
}
.address-item {
  font-style: normal;
  /* font-size: 14px; */
  line-height: 1.71;
  /* or 171% =24px/14px */
  letter-spacing: 0.03em;
  color: var(--p-color-address);
}
.address-item .link {
  color: var(--link-color-address);
}

/* section Portfolio */
.filter-item .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162%=26px/16px */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-h);
  background-color: var(--bg-section-team);
  border: 1px solid transparent; /* прозрачная рамка*/
  border-radius: 4px;
  /* border: none; */
  cursor: pointer;
}
.filter-item .btn:hover,
.filter-item .btn:focus,
.filter-item .btn:active {
  color: var(--btn-text-color);
  background: var(--accent-color);

  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-card {
  background-color: var(--bg-color-card);
  border: 1px solid rgba(238, 238, 238, 1);
}
.portfolio-card .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% =36px/18px*/

  letter-spacing: 0.06em;

  color: var(--text-color-h);
}
.portfolio-card .text {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188%=30px/16px */

  letter-spacing: 0.03em;
  color: var(--text-color-p);
}
